<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{hero.id}}</div>
  <div>
  <div><br /><img src="assets/images/sample-profile-picture.jpg" alt="Profile Picture" height="150" width="200"></div>
  <br /> <br />
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
    <br /> <br />
    <label>Profile Picture:
      <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
